

@import './mixin.scss';


.carousel{
    overflow: hidden;
    width: 370px;

    @media (min-width: 768px) and (max-width: 1024px) {
        
        width: 300px;
        
        
        
    }
    /*@media (max-width: 768px) {
  
        width: 280px;
        
    }*/
    position: relative;


}



.simpleImage{
    @media (min-width: 768px) and (max-width: 1024px) {
        img{
            width: 300px;
        }
        
        
    }
    @media (max-width: 768px) {
  
        img{
            width: 280px;
        }
        
    }
}

.imageContainer{
    position: relative;
}

.bottom-right{
    @include bottom-right();
    bottom: 8px;

    &-carousel{
        @include bottom-right();
        bottom: 80px;
    }

}

.carousel-container {
    position: relative;   
}

.countryPlace-container{
    display: flex;
    align-items: center;

    &.country-place{
        font-size: 20px;
    }
}

.diviser-info{
    border: 1px solid #333333;
    width: 1vw;
    height: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.country{
    font-weight: bold;
}


.btn{
    background-color: $base-title-color;
    border-color: $base-title-color;
    box-shadow: none !important;
    height: 30%;
    border-radius: 0;

    &-primary:hover{
        background-color: $base-title-color-hover;
        border-color: $base-title-color-hover;
    }
    
    &-primary:not(:disabled):not(.disabled):active{
        background-color: $base-title-color;
        border-color: $base-title-color;        
    }

    &-small{
        margin-right: 30px;
    }

    >i>svg{
        margin-bottom: 5px;
    }
}

.rating{
    margin-left: 10px;
}

.tags{
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    .tag:first-child{       
        background-color: black;
    }
    .tag:nth-child(2){
        background-color: #b8955f;
        margin-left: 8px;
    }
}

.tag{
    padding: 3px;
}

.bottomInfo{
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}